$screen-min-width: 301px;

// Mobile devices
$screen-xs-min: 361px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 577px;

// Small tablets (portrait view)
$screen-md-min: 769px;

// Tablets and small desktops
$screen-lg-min: 993px;

// Large tablets and desktops
$screen-xl-min: 1201px;

// Extra large
$screen-xxl-min: 1401px;
